<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" parallel = "none">

	   <listeners>
       <listener class-name="com.Extent.ExtentReporterNG" />
  	   </listeners>
  	   
  <test name="PagesTest">
    <classes>
      <class name="com.test.LoginpageTest" />
      <class name="com.test.HomePageTest" />
      <class name="com.test.Entitytest" />
    </classes>
  </test>

</suite>